/* TEXT */


// FAMILY
// FONT SIZE
.fz34 {
	font-size: toRem(34) !important;
}
.fz20 {
	font-size: toRem(20);
}
.fz16 {
	font-size: toRem(16);
}
.fz15 {
	font-size: toRem(15);
}
.fz14 {
	font-size: toRem(14);
}

// COLORS

// TEXT ALIGN
.taL {
	text-align: left;
}
.taC {
	text-align: center;
}
.taR {
	text-align: right;
}
.taJ {
	text-align: justify;
}
@include mq(mob){
	.taML {
		text-align: left;
	}
	.taMC {
		text-align: center;
	}
	.taMR {
		text-align: right;
	}
	.taMJ {
		text-align: justify;
	}
}

// TEXT DECORATION
.tdU {
	text-decoration: underline;
}
.tdN {
	text-decoration: none;
}
@include mq(mob){
	.tdMU {
		text-decoration: underline;
	}
	.tdMN {
		text-decoration: none;
	}
}

// TEXT TRANSFORM
.ttU {
	text-transform: uppercase;
}
.ttL {
	text-transform: lowercase;
}
@include mq(mob){
	.ttMU {
		text-transform: uppercase;
	}
	.ttML {
		text-transform: lowercase;
	}
}

// LINE HEIGHT
.lh0 {
	line-height: 0 !important;
}

// PSEDO LINK
.pLink {
	cursor: pointer;
}