/** CONTAINER **/

.#{$prefix}Container{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;

    &--limit{
        padding: 0 50px;
        
        @include mq(mobS){
            padding: 0 20px;
        }
    }
    
    &--full{
        padding: 0 33px;
    }
    &--small{
        max-width: 80%;
        margin: 0 auto;
    }
}