/* HEADER */
.#{$prefix}Header {
    padding: 40px 0 0;
    z-index: 2;
    position: relative;
    
    @include mq(mob){
        padding: 25px 0 0;
    }
    &__container {
        @include flex(space-between, center);
    }

    

    &__menu { 
        background-color: $white;
        border-radius: 10px;
        display: inline-flex;
        justify-content: space-between;
        padding: 25px 98px;
        width: 100%;
        color:$dark_blue;
        font-size: toRem(40); 
        font-family:$oBold; 

        @include mq(mob){
            width: 100%;
            padding: 20px 30px;
            font-size: toRem(25);

        }   

        &__list {
            color:$light_blue;
            display: flex;
            width: 40%;
            font-size: toRem(15);
            font-family: $oRegular;

            ul {
                display: flex;
                width: 100%;
                justify-content: space-between;
                align-items: center;
            }
            @include mq(mob){
                display: none;
            }
        }

        &__action {
            display: none;

            @include mq(mob){
                display: flex;
                flex-direction: column;
                position: absolute;
                right: 30px;
                top: 50%;
               

                &__line {
                    width: 23px;
                    height: 3px;
                    background-color: $dark_blue;
                    margin: 2px 0;
                    border-radius: 27px;
                    transition: .3s all ease-out;
                }
            }
        }
    }

    

   
}