/* CONFIGURATION */

// PREFIX CLASS
$prefix: "bronquisol";


// ROOT
:root {

  // COLORS
  --color-black: #000;
  --color-lBlack: #292929;

  --color-white: #FFF;

  --color-lGray: #dfdfdf;

  --color-red: #FF0000;

  --color-success: #219c3e;
  --color-warning: #d66519;
  --color-information: #2476ce;

}

// MEDIAQUERIES
$mediaqueries: (
	hover: "(hover: hover)",
	ie: "screen and (-ms-high-contrast: active), (-ms-high-contrast: none)",
	safari: "screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0)",
	safari2: "not all and (min-resolution:.001dpcm)",
	mobS3: 360,
	mobS2: 480,
	mobS1: 540,
	mobS: 640,
	mob: 768,
	tabS: 820,
	tab: 991,
	lapS3: 1024,
	lapS2: 1199,
	lapS: 1280,
	lap: 1367,
	deskS: 1440,
	desk: 1560,
	deskB: 1680
);

// WIDTH

// COLORS
$white: #ffffff;
$black: #000000;
$gray: #828282;
$dark_blue: #000070;
$blue: #027FB7;
$light_blue: #00A3E6;
$orange: #FE4F00;
$green: #00A000;
$pink: #F70075;
// LOADER

// GLOBAL FONTS
$ftRegular: arial, sans-serif;

$oBold: 'Oswald SemiBold', $ftRegular;
$oMedium: 'Oswald Medium', $ftRegular;
$oRegular: 'Oswald Regular', $ftRegular;



$fontFamily: $oRegular;
$baseFont: 16;



