/* CAMPAIGN */
.#{$prefix}Campaign{
    @include flex(space-between,normal,flex);
   margin-top:30px;
   position: relative;

   @include mq(mob){
        flex-direction: column;
        background-color: $dark_blue;
    }
    
   &__lightBlue {
       background-color: $light_blue;
       color: $white;
       width: 50%;
       font-family: $oBold;
       font-size: toRem(30);
       line-height: toRem(45);
       display: flex;
       justify-content: flex-end;
       padding: 100px 0;
       border-radius: 0px 10px 10px 0px;   

        &__copy {
            width: 70%;
            margin-right: 20px;

            &--blueText {
            color: $dark_blue;
            }

            @include mq(mob){
                text-align: center;
                margin-right: 0px;
            }
       }
       
       @include mq(mob){
            width: 100%;
            font-size: toRem(25);
            padding: 50px 0 30px;
            justify-content: center;
            border-radius: 0px 0px 10px 10px;
        }

        @include mq(mobS2){
            font-size: toRem(20);
            line-height: toRem(30);
        }
   }

   &__darkBlue {
    background-color: $dark_blue;
    width: 50%;
    color: $white;
    @include flex(center, center, wrap,column, flex);
    margin: 10px 0;
    position: relative;

        &::after {            
            content: " ";
            display: block;
            width: 20%;
            border-top: 4px solid $orange;
            position: absolute;
            top: 50px;
            border-radius: 2px;
            transform: translate(-50%, -50%);
            left: 50%;
            top: 50%;

            @include mq(mob){
                width: 0;
                height: 40%;
                border-top: none;
                border-right: 4px solid $orange;
                left: 54%;
                top: 60%
            }
            @include mq(mobS2){
                left: 57%;
            }
        } 

        &__copy{
            margin: 40px 0;
            position: relative;
            letter-spacing: 4px;

            @include mq(mob){
                margin: 50px 0 30px;
            }

            @include mq(mobS2){
                font-size: toRem(15);
                line-height: toRem(20);
                text-align: center;
                
            }
        }

        @include mq(mob){
            width: 100%;
            justify-content: space-around;
            flex-direction: row;
            flex-wrap: nowrap;
            margin: 0;
            padding: 0 10px;
        }
    }

    &__whiteBox {
        width: 50%;
        height: 80%;
        position: absolute;
        top: 50%;
        left: 33%;
        border-radius: 15px;
        border: 3px $white solid;
        transform: translate(-50%, -50%);
        
        @include mq(mob){
            top: 40%;
            left: 50%;
            width: 80%;
            height: 60%;
        }

        @include mq(mobS2){
            top: 38%;
            height: 55%;
        }
    }
    
    
}