/* PANORAMIC */
.#{$prefix}Panoramic{
    @include flex(center,center,wrap,column,flex);
   
    
    &__info{
        color: $dark_blue; 
        width: 100%;
        display: flex;
        flex-flow: column;
        align-items: center;

        &__title{
            font-size: toRem(40);
            color: $dark_blue;
            font-family: $oBold;

            @include mq(mob){
                font-size: toRem(25);
            }
    
        }
        
    }
    
}
